<a href="https://colab.research.google.com/github/sammer21/Take-Home/blob/main/Analytics_Homework_Assignment_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **How to Use This Notebook**

This document is an iPython notebook being executed within Google's Colaboratory: a product designed to facilitate the creation and sharing of data analysis projects.
The steps below explain how to use it:

1. Make a personal copy of this document by clicking "Save a copy in Drive" under the file menu
2. Click the files icon in the left panel of this document.
3. Click the upload icon and select the .csv files provided to you by the recruiter.
4. Navigate to the section with the language you prefer to use (SQL, Python, or R) and expand it to show the hidden cells.
5. Run the existing code by pressing [Shift] + [Enter] or by clicking the triangular run icon on each cell.
6. Perform your analysis, adding code to your section of choice.
7. When you're done, you may optionally delete any unused sections/cells.

Good luck!

## SQL (SQLite via Python's pandasql package)

### Setup

It's okay if you are unfamiliar with scripting languages like Python.
If that's the case, these additional instructions may prove helpful:

1. You need to run the three hidden cells in this section only once during your analysis.
2. Your query needs to be stored in a string (like the `my_query` variable below) and passed into one of the helper functions: `execute_query`, `preview_query_result`, or `save_query_result_to_csv`. You must run the cell containing these functions every time you update the query in order to see updated results.
3. This document won't perform any syntax highlighting or text completion for you. If you would like those features, you could use a tool like https://sqliteonline.com/ and simply paste your final SQL into this document. (Alternatively, you could perform your whole analysis in another SQL tool).

In [ ]:
! pip install -U pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.1.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.20)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.6.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.5.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26782 sha256=5a65cd25a3ecae065620df0de644577f4aa87f25407d97a71eb217cabc3502d6
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [ ]:
import pandas as pd
from pandasql import sqldf
import os

In [ ]:
directory = "/content/"
visits = pd.read_csv(os.path.join(directory, "visits.csv"))
subscriptions = pd.read_csv(os.path.join(directory, "subscriptions.csv"))
execute_query = lambda query: sqldf(query, globals())
preview_query_result = lambda query: execute_query(query).head()
save_query_result_to_csv = lambda query, path: execute_query(query).to_csv(path)

### Example SQL

In [ ]:
# Example query: feel free to delete later
my_query = """
select
      region
    , count(visit_id) as num_visits
from visits
where day = '2019-01-01'
group by 1
order by 2 desc
"""
execute_query(my_query)

                                        region  num_visits
0                                    US/Canada          12
1                                         Asia          11
2  Europe, Middle East, & Africa (Non-English)           8
3                                Latin America           7
4             Other English-Speaking Countries           7

In [ ]:
# You could, instead, choose to preview only 5 rows
preview_query_result(my_query)

                                        region  num_visits
0                                    US/Canada          12
1                                         Asia          11
2  Europe, Middle East, & Africa (Non-English)           8
3                                Latin America           7
4             Other English-Speaking Countries           7

In [ ]:
# You could also save the result to a csv
save_query_result_to_csv(my_query, "/content/result.csv")

# You may have to wait a minute for it to show up in the left sidebar
# Alternatively, you could force a refresh by clicking on the dots next to the folder containing your file

## Python (subset of the SQL setup above)

In [13]:
import pandas as pd
import os

In [14]:
directory = "/content/"
visits = pd.read_csv(os.path.join(directory, "visits.csv"))
subscriptions = pd.read_csv(os.path.join(directory, "subscriptions.csv"))

In [15]:
subscriptions.head()

,subscription_id,account_id,subscription_start_date,subscription_end_date,trial_start_date,trial_end_date,revenue
0,96d87f27-c4e3-401e-9efd-795834b12e1b,914fddea-7a72-4712-82dd-5b4590f9b670,1/8/2019,1/8/2020,1/1/2019,1/8/2019,1016.28
1,91838d2f-5cc1-448c-95d2-05dce13f0090,7e6ccf6b-16e1-4ea1-9057-ead81ac1cedd,1/1/2019,1/1/2020,NaN,NaN,755.67
2,7cb08fd7-9440-4a17-9cbd-674954d9b1c5,f7b65b83-2e33-4926-b36a-f37fead86623,1/1/2019,1/1/2020,NaN,NaN,999.89
3,ab2b038d-e56c-4102-8662-dedbff889235,f9b33d91-66d1-485c-8c6e-d27bdb46d605,1/8/2019,1/8/2020,1/1/2019,1/8/2019,971.82
4,183c7790-06fb-40f8-acf4-f3c78db265fd,c5124861-4163-409d-a419-c87681537371,1/2/2019,1/2/2020,NaN,NaN,1280.93

In [17]:
print(subscriptions.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13612 entries, 0 to 13611
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   subscription_id          13612 non-null  object
 1   account_id               13612 non-null  object
 2   subscription_start_date  8180 non-null   object
 3   subscription_end_date    8180 non-null   object
 4   trial_start_date         9424 non-null   object
 5   trial_end_date           9424 non-null   object
 6   revenue                  8180 non-null   float64
dtypes: float64(1), object(6)
memory usage: 744.5+ KB
None

## R

In [11]:
%load_ext rpy2.ipython

In [12]:
%%R
setwd("/content/")
visits <- read.csv("visits.csv", na.strings="")
subscriptions <- read.csv("subscriptions.csv", na.strings="")

R[write to console]: Error in file(file, "rt") : cannot open the connection

R[write to console]: In addition:
R[write to console]: Warning message:

R[write to console]: In file(file, "rt") :
R[write to console]:

R[write to console]:  cannot open file 'visits.csv': No such file or directory

Error in file(file, "rt") : cannot open the connection

RInterpreterError: ignored

In [ ]:
%%R
head(visits)